/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* normalize css ends here */


html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    color: #222;
}

body {
    width: 450px;
    min-height: 300px;
}

.app {
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 12px;
}

.divider {
    margin: 30px auto 25px;
    width: 50px;
    border: .5px dashed #000;
    opacity: .1;
}

#issueList>.item {
    margin-top: 6px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 1;
    transition: all 300ms 0s ease;
}

#issueList>.item:hover {
    opacity: 0.7;
}

#issueList>.item>a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

#issueList>.item>.summary {
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 300ms 0s ease;
}

#issueList>.item>.summary:hover {
    overflow: auto;
    white-space: pre-line;
}